{% extends 'task/base.html' %}

{% block title %}
    Task Detail
{% endblock %}

{% block content %}
    <div class="flex items-center justify-center min-h-screen bg-gray-50 dark:bg-gray-900 p-4">
        <div class="w-full max-w-md bg-white dark:bg-gray-800 rounded-lg shadow-md">
            <div class="p-6 border-b border-gray-200 dark:border-gray-700">
                <h1 class="text-2xl font-bold text-gray-900 dark:text-white text-center">Detalle de la tarea</h1>
            </div>

            <div class="p-6 space-y-4">
                <h2 class="text-xl font-semibold text-gray-900 dark:text-white">{{ task.title }}</h2>

                <p class="text-gray-700 dark:text-gray-300">Trask Description: {{ task.description }}</p>

                <!-- Usuario que creó la tarea -->
                <p class="text-gray-600 dark:text-gray-400">
                    Created by: <span class="font-medium">{{ task.user }}</span>
                </p>


                {% if task.date_complete != None %}
                    <p class="text-gray-600 dark:text-gray-400">
                        Date Completed: <span class="font-medium">{{ task.date_complete }}</span>
                    </p>
                {% endif %}
            </div>

            <div class="p-6 border-t border-gray-200 dark:border-gray-700 flex space-x-4">
                <!-- Botón "Completed" (solo si la tarea no está completada) -->
                {% if task.date_complete is None %}
                    <form action="{% url 'task_completed' task.id %}" method="POST" class="flex-1">
                        {% csrf_token %}
                        <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Completed
                        </button>
                    </form>
                    <form action="{% url 'task_update' task.id %}" method="GET" class="flex-1">
                        {% csrf_token %}
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            Update
                        </button>
                    </form>
                {% endif %}

                <!-- Botón "Delete" -->
                <form action="{% url 'task_delete' task.id %}" method="POST" class="flex-1">
                    {% csrf_token %}
                    <button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

