{% extends 'base.html' %}
{% load static %}

{% block title %}home{% endblock %}

{% block content %}
    <main class="container py-5" >
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolor ipsum qui quo totam. Accusantium ad animi, architecto blanditiis dolor, ea eum fuga libero maxime nam placeat quae quibusdam quidem soluta vitae! Culpa fugiat harum magnam mollitia non. Beatae cum deserunt dignissimos doloribus earum esse, facere fuga maiores nostrum placeat praesentium quasi quidem repellendus tempora velit? Ab accusantium adipisci, explicabo fugit laborum maxime nobis non placeat praesentium quidem ratione repellendus ut voluptatibus! Aliquid aspernatur assumenda at consequatur, culpa earum eum, fugit ipsam laudantium pariatur perspiciatis quas quos ratione, temporibus voluptatum. Beatae excepturi laborum, laudantium optio rem temporibus veniam. Eum, quibusdam!</p>
        </section>
    </main>

{% endblock %}